.toggle {
  margin: 0em 1.8em 0em 1.8em;
  cursor: pointer;
}

body {
  background-image: radial-gradient(rgb(98, 117, 196), rgb(0, 0, 0));
}

.heading {
  font-size: 600%;
  text-align: center;
  color: rgb(150, 148, 148);
  text-shadow: 9px 9px 8px rgb(0, 0, 0);
}

@media screen and (max-width: 490px) {
  .heading {
    display: none;
  }
  .container {
    margin-top: 6em;
  }
}

button {
  font-size: 1.3em;
  border: 1px solid black;
  border-radius: 50%;
  background-color: lightgray;
  padding: 4px 8px 4px 8px;
  font-weight: 500;
  cursor: pointer;
}

.switch {
  position: absolute;
  margin: 6em 0em 0em 1em;
  font-family: "Original Surfer", cursive;
}

.row1 {
  position: absolute;
  margin: 8.5em 0em 0em 1.3em;
  font-family: "Original Surfer", cursive;
}

.row1 span:last-child {
  margin-left: 4.2em;
}

.row2 {
  position: absolute;
  margin: 12em 0em 0em 5.2em;
  font-family: "Original Surfer", cursive;
}

#name {
  position: absolute;
  font-family: "Original Surfer", cursive;
  margin: 0.8em 0em 0em 0.7em;
  font-size: 2.6em;
  text-shadow: 4px 4px 4px black;
}

.turn {
  position: absolute;
  background: black;
  color: red;
  font-family: courier;
  font-size: 1em;
  height: 2em;
  width: 3.5em;
  margin: 10.2em 0em 0em 5.4em;
  line-height: 2em;
  text-align: center;
  vertical-align: middle;
}

.container {
  position: relative;
  height: 31em;
  width: 31em;
  margin: auto;
  margin-top: 2.5em;
  background-color: #385a94;
  border: 8px solid black;
  border-radius: 100%;
  box-shadow: 6px 6px 35px 6px #888888;
}

.topLeft {
  position: absolute;
  height: 15.5em;
  width: 15.5em;
  border-radius: 100% 0 0 0;
  background-color: green;
  border: 6px solid black;
  box-sizing: border-box;
  transition-duration: 0.5s;
}

.topRight {
  position: absolute;
  height: 15.5em;
  width: 15.5em;
  border-radius: 0 100% 0 0;
  background-color: darkred;
  margin-left: 15.5em;
  border: 6px solid black;
  box-sizing: border-box;
  transition-duration: 0.5s;
}

.bottomLeft {
  position: absolute;
  height: 15.5em;
  width: 15.5em;
  border-radius: 0 0 0 100%;
  background-color: rgb(188, 190, 17);
  margin-top: 15.5em;
  border: 6px solid black;
  box-sizing: border-box;
  transition-duration: 0.5s;
}

.bottomRight {
  position: absolute;
  height: 15.5em;
  width: 15.5em;
  border-radius: 0 0 100% 0;
  margin: 15.5em 0em 0em 15.5em;
  border: 6px solid black;
  box-sizing: border-box;
}

.innerCircle {
  position: absolute;
  background: #888888;
  border-radius: 50%;
  height: 15.5em;
  width: 15.5em;
  border: 10px solid black;
  top: 50%;
  left: 50%;
  margin: -7.4em 0em 0em -7.4em;
  box-sizing: border-box;
}
